---
import { cn } from "@lib/utils";

type Props = {
	href: string;
	external?: boolean;
	underline?: boolean;
};

const { href, external, underline = true, ...rest } = Astro.props;
---

<a
	href={href}
	target={external ? "_blank" : "_self"}
	class={cn("inline-block rounded hover:bg-[#46433b] hover:text-[#faf9f6]")}
	{...rest}
>
	<slot />
</a>
